<!DOCTYPE html>
<html ng-app="AngularToDo">
<head>
	<meta charset="UTF-8">
	
	<script src="js/angular.min.js"></script>
	<script src="js/angular-route.js"></script>
	<script src="js/angular-local-storage.min.js"></script>
	<script src="js/index.js"></script>
	
</head>
<body>
	
<section ng-controller="PanelController as panel">
	<ul class="nav nav-pills navbar navbar-nav">
		<li ng-class="{active: panel.isSelected(1)}">
			<a href="#/list/1" ng-click="panel.selectTab(1)">Tab 1</a>
		</li>
		<li ng-class="{active: panel.isSelected(2)}">
			<a href="#/list/2" ng-click="panel.selectTab(2)">Tab 2</a> 
		</li>
		<li ng-class="{active: panel.isSelected(3)}">
			<a href="#/list/3" ng-click="panel.selectTab(3)">Tab 3</a>
		</li>
	</ul>
	<div ng-view></div>
</section>
	
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<style>
	.list-group-item {
		overflow: hidden;
		position: relative;
		display: block;
		padding: 10px 15px;
		margin-bottom: -1px;
		background-color: #fff;
		border: 1px solid #ddd;
		height: 100;
	}
	.navbar-nav {
		width: 100%;
		text-align: center;
	}
    .navbar-nav > li {
      float: none;
      display: inline-block;
    }
  }
</style>
</body>
</html>